{
  "presets": ["react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/containers"],
        "alias": {
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
