{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "api": "./src/constants/api",
          "actionTypes": "./src/redux/actionTypes"
        }
      }
    ]
  ]
}
