@import "Variables.scss";

.nav {
  z-index: 999;

  position: relative;

  height: $nav-height * $ratio;
  padding: 0 $nav-height / 2 * $ratio;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: $ui-blue;
  }

  .menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      a {
        margin: 0 80px / 2 * $ratio;
        letter-spacing: 0.3em;
        color: skyblue;

        font-weight: 100;

        text-transform: uppercase;

        &.linkActive {
          font-weight: 600;
          color: $ui-orange;
        }
      }
    }
  }

  .logoutButton {
  }

  .loginButton {
  }
}
