@import 'Variables.scss';
@import 'Shared.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .intro {
    p {
      color: #666;
      width: 550px;
      font-size: 1.125em;
    }

    .tempButtonContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 0.5em 0;

      .tempButton {
        width: 150px;
        margin: 0 0.5rem;
      }
    }
  }
}
